name: Main

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    steps:
    - name: Checkout 
      uses: actions/checkout@v4
    - uses: goto-bus-stop/setup-zig@v2
      with:
        version: 0.11.0
    - name: Setup Just
      uses: extractions/setup-just@v1
    - name: Test
      run: just test